:root {
    --main-gap: 50px;
    --sub-gap: 20px;
    --game-width: 300px;
    --game-height: 300px;
}    
    
html {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow-x: hidden;
}

.block {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(1em, 2em, 3em);
    height: 80px;
    width: 80px;
}

.block:hover {
    background-color: red;
}

button {
    height: fit-content;
    max-width: 50%;
    font-size: clamp(1em, 1.2em, 1.5em);
}

.button-start-container {
    min-height: 100%;
    min-width: 100%;
    transition: min-height 2000ms;
    background-color: black;
}

.button-start-container:hover {
    background-color: gray;
}

.button-start-container::before {
    /* content: '';
    position: absolute;
    background-color: black; */
    /* min-width: clamp(100px, 120px, 200px);
    min-height: clamp(100px, 120px, 200px);
    background-color: aliceblue; */
    /* min-height: 100%;
    min-width: 100%;
    transition: min-height 2000ms; */
}

.button-start-container:hover::before {
    /* background-color: gray; */
}

.hide-container {
    z-index: -1;
}



button.start-game {
    position: absolute;
    border: none;
    background-color: white;
    height: calc(0.5 * var(--game-height));
    width: calc(0.5 * var(--game-width));
    top: calc(calc(var(--game-height) - calc(0.5 * var(--game-height))) / 2);
    left: calc(calc(var(--game-width) - calc(0.5 * var(--game-width))) / 2);
}

button.start-game:hover {
    background-color: black;
    color: white;
}

/* button.x, button.o :focus {
    background-color: gray;
    color: white;
} */

/* .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--main-gap);
} */

.focus {
    background-color: gray;
    color: white;
    border-color: green;
}

.gameboard {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2px;
    row-gap: 2px;
}

.game {
    position: relative;
    /* background-color: black; */
    height: var(--game-height);
    width: var(--game-width);
}

input {
    max-width: 50%;
    justify-self: center;
}

input:focus {
    outline: none;
}

.hide {
    z-index: -1;
    animation: fade-out 2000ms forwards;
}

.hidden {
    z-index: -1;
    opacity: 0;
    transition: opacity 1000ms;
}

@keyframes fade-out {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(-400px);
    }
}

.message {
    opacity: 0;
    animation: message-transition 3000ms forwards;
}

@keyframes message-transition {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.no-margin {
    margin: 0;
}

.screen {
    position: absolute;
    opacity: 1;
    transition: opacity 1500ms;
    top: 0;
    background-color: black;
    color: white;
    height: 300px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.name-choice, .symbol-choice {
    display: flex;
    flex-direction: column;
    row-gap: 3px;
    align-items: center;
}